<!DOCTYPE html>
<html ng-strict-di ng-app="angularTutorial" ng-controller="angularTutorial">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>{{appTitle}}</title>
    </head>
    <body>
        <ppt>

        	<slide config=config.cover>
               <small>3小时</small><b>安哥拉杰斯</b><small>从入门到入院</small>
               <p> <i>Introduction of AngularJs</i> </p>
			</slide>

			<slide config=config.content>
                <img src="https://app.lovelivewiki.com/background/title.png">
                <ul>
                    <li ng-click="goto('overview')">总体介绍</li>
                    <li ng-click="goto('service')">service</li>
                    <li ng-click="goto('directive')">directive</li>
                    <li ng-click="goto('makeup')">组织代码</li>
                    <li ng-click="goto('promise')">promise</li>
                    <li>demo 1:promise</li>
                    <li>demo 2:图片+文字=表情</li>
                    <li>ppt介绍</li>
                </ul>
			</slide>

			<slide config=config.overview>
			    <span class="contentleader">总体介绍</span>
			</slide>

			<slide config=config.overview_1>
                <p>AngularJs 1.x(之后就简称为ng了)的结构分为html模板和js代码。</p>
                <p>html主模板只有一个， 然后由js驱动应用。(有2种驱动方式)</p>
                <p>ng的主要作用是提供了一个抽取重复代码的逻辑，</p>
                <p>代码的复用性强弱可以看出遵循ng设计的程度。</p>
			</slide>

			<slide config=config.overview_2>
			    ng的module种类：
                <kbd>provider</kbd>
                ,<kbd>factory</kbd>
                ,<kbd>service</kbd>
                ,<kbd>value</kbd>
                ,<kbd>constant</kbd>
                ,<kbd>decorator</kbd>
                ,<kbd>animation</kbd>
                ,<kbd>filter</kbd>
                ,<kbd>controller</kbd>
                ,<kbd>directive</kbd>
                ,<kbd>component</kbd>
                ,<kbd>config</kbd>
                ,<kbd>run</kbd>
			</slide>

			<slide config=config.service>
			    <span class="contentleader">service</span>
			</slide>
            
            <slide config=config.service_1>
                <p>constant <i>配置环境变量，不可修改</i></p>
                <p>value <i>全局变量，可以修改，不常用因为不能带逻辑</i></p>
                <p>provider <i>全局变量；封装逻辑</i></p>
            </slide>
            
            <slide config=config.service_2>
                <h3>provider</h3>
                <p>应用-封装底层服务($http, $log, $location)</p>
                <p>应用-做队列、缓存/批量执行</p>
                <p>结构-返回$get方法执行结果</p>
                <p>结构-其余方法可在同名provider中调用，可用做工厂模式</p>
            </slide>
            
            <slide config=config.directive>
			    <span class="contentleader">directive</span>
            </slide>
            
            <slide config=config.directive_1>
               <p>语义化标签， 封装dom操作</p> 
               <p>分类：EMAC</p>
               <p><b>误区：“不能用jquery”</b>应该为不能使用id、class选择器</p>
            </slide>
            
            <slide config=config.makeup>
			    <span class="contentleader">组织代码</span>
            </slide>
			
            <slide config=config.makeup_1>
                angular.module('app',['privatelibs','thirdpartlibs','env'])
                .config().run().factory().directive().controller().filter()
            </slide>
			
            <slide config=config.promise>
               promise 
            </slide>
			
            <slide config=config.promise_1>
              <p><b>优点</b></p>
              <p>避免callback hell</p>
              <p>避免为了传播回调成功/错误而copy调用回调的代码</p>
              <p>方便组织代码调用顺序逻辑</p>
            </slide>

            <slide config=config.promise_2>
              <p><b>缺点</b></p>
              <p>兼容问题：规范不统一</p>
              <p>模式不兼容：有的时候建议使用事件监听</p>
              <p>异常处理：每个链都需要手动捕获异常</p>
            </slide>

            <slide config=config.promise_3>
                代码演示
                <img src="http://www.lovelive-anime.jp/otonokizaka/img/member/member03_03.png">
                <img src="http://www.lovelive-anime.jp/otonokizaka/img/member/member09_03.png">
            </slide>
        </ppt>
    </body>
</html>
